.hero-image {
    flex: 0.3;
    padding-left: 10px;
  }
  
  .hero-image {
    max-width: 100%;
    flex-direction: column;
    height: auto;
  }
  
  .hero-image img {
    width: 100%;
    border-radius: 30px;
    height: auto;
  }
  
  