.skills-section {
    background-color: #1e1e2f;
    color: #fff;
    padding: 40px;
    border-radius: 0px;
}

.skills-list, .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.skill, .project {
    background-color: #4a4a6d;
    padding: 10px 15px;
    border-radius: 5px;
}
.skills-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .skills-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .skills-column h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .skill {
    font-size: 1.2rem;
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  