.skills-section {
  background-color: #1e1e2f;
  color: #fff;
  padding: 40px;
  border-radius: 0px;
}

.skills-list, .projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.skill, .project {
  background-color: #4a4a6d;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

.skills-column {
  flex: 1;
  min-width: 300px; 
  margin-right: 20px;
}

.skills-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill {
  font-size: 1.2rem;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress-bar {
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  width: 70%; 
  margin-left: 20px; 
}

.progress {
  background-color: #4caf50; 
  height: 100%;
  transition: width 0.3s ease;
}
