body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

header {
  background: linear-gradient(135deg, #1f1f47, #2f2f7a);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li a {
  font-size: 25px;
  color: rgb(209, 224, 236);
  text-decoration: none;
  font-weight: bold;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: rgb(255, 255, 255);
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #61dafb;
  color: #282c34;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.about, .projects, .contact {
  padding: 100px 20px;
  text-align: center;
}

.projects .project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.projects .project-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.contact form input, .contact form textarea {
  padding: 10px;
  font-size: 1em;
}

.contact form button {
  padding: 10px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  cursor: pointer;
}
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-icons a {
  color: #333;
  transition: transform 0.2s ease;
}

.contact-icons a:hover {
  transform: scale(1.2); /* تكبير الأيقونات عند التمرير */
  color: #0077b5; /* تغيير اللون عند التمرير */
}

.contact-icons a:hover:nth-child(2) {
  color: #333; /* اللون عند تمرير GitHub */
}

.contact-icons a:hover:nth-child(3) {
  color: #f50; /* اللون عند تمرير رابط السيرة الذاتية */
}
